<VirtualHost *:80>
    ServerName {{ inventory_hostname }}
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/html/app

    <Directory /var/www/html/app>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/app-error.log
    CustomLog ${APACHE_LOG_DIR}/app-access.log combined
</VirtualHost>
